<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="ConfigTest" status="ERROR"
	monitorInterval="5">
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<Console name="out2" target="SYSTEM_ERR">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>

	<!-- parte interessante per i programmatori -->
	<Loggers>

<!--	<Logger name="com.example" level="trace">
			<AppenderRef ref="Console" />
		</Logger> -->

		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>